body{
    margin: 0px;
    padding: 0px;
}
.contain{
    width: 1260px;
    margin: auto;
    font-family: 'Microsoft JhengHei', sans-serif;
}
/**header**/
header{
    width: 1260px;
    height: 135px;
}
.H_nav{
    width: 100%;
    /* width: 1260px; */
    height: 135px;
    background-color: #130167;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.H_nav_btn_logo{
    margin-left: -800px;
}

.H_nav_btn_search{
    margin-right: 50px;
}
.H_nav_btn_search:hover{
    cursor: pointer;
}

.sideMenu{
    position: relative;
    top: -135px;
}
.bar-item_op{
    border: none;
    background-color: #130167;
    position: relative;
    top: -85px;
    left: 30px;
}
.bar-item_op:hover{
    cursor: pointer;
}
.bar-item_cl{
    border: none;
    background-color: #130167;
    position: relative;
    top: -1140px;
    left: 320px;
}
.bar-item_cl:hover{
    cursor: pointer;
}
.sidetitle{
    width: 300px;
    height: 135px;
    font-size: 36px;
    background-color: #D9D9D9;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidetitle_img{
    height: 84px;
    width: 84px;
    margin-left: 30px;  
}
.sidetitle_p{
    margin-left: 30px;  
}

a{
    text-decoration:none;
    color: black;
}
.sidemenu_text:hover{
    cursor: pointer;
    color: #AEAEAE;
}
.sidemenu_all{
    background-color: #FFF3D6;
    width: 300px;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    height: 900px;
    padding-top: 20px;
}
.sidemenu_text{
    list-style: none;
    font-size: 36px;
    line-height: 60px;
    margin-left: 30px;   
    margin-top: 10px;
}

/**article**/
article{
    width: 1260px;
    height: 955px;
}

.A_contain{
    height: 955px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-image: url("../img/background_img.png");
    background-size: cover;
    background-position: 80% 30%;
}
.A_text{
    width: 545px;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.A_texta{
    font-size: 64px;
    color: white;
    margin: 0px;
    margin-left: 30px;
}
.A_textb{
    font-size: 36px;
    color: white;
    margin: 0px;
    margin-left: 30px;
}
.A_login{
    width: 545px;
    height: 680px;
    background-color: #FFF3D6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-right: 70px;
}

.A_login_account{
    width: 380px;
    height: 75px;
    background-color: #B1B1B1;
    font-size: 24px;
    color: white;
    border: none;
    padding: 0px;
    border-radius: 10px;
    /* margin-left: -10px; */
}
.A_login_password{
    width: 380px;
    height: 75px;
    background-color: #B1B1B1;
    font-size: 24px;
    color: white;
    border: none;
    padding: 0px;
    border-radius: 10px;
}
.A_login_login{
    width: 400px;
    height: 75px;
    background-color: #525252;
    font-size: 24px;
    color: white;
    padding: 0px;
    position: relative;
    border-radius: 10px;
}

.A_login_big1{
    margin-top: 20px;
}
.A_login_big2{
    margin-top: -50px;
    margin-bottom: -50px;    
}
.A_login_login:hover{
    cursor: pointer;
}

.A_login_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: -70px;
}
.A_login_text_a{
    font-size: 18px;
    color: #FF3D00;
    margin: 0px;
    margin-right: 245px;
}
.A_login_text_a:hover{
    cursor: pointer;
}
.A_login_text_b{
    font-size: 18px;
    margin: 0px
}
.A_login_text_b:hover{
    cursor: pointer;
}
.A_login_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}
.A_login_line_fast{
    margin: 0px 20px;
}
hr{
    width: 150px;
    height: 1px;
    border: 0px;
}
.A_login_icon{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.A_login_icon_facebook{
    margin: 0px 30px;
}
.A_login_icon_twitter{
    margin-right: 30px;
}
.A_login_icon_line:hover{
    cursor: pointer;
}
.A_login_icon_facebook:hover{
    cursor: pointer;
}
.A_login_icon_twitter:hover{
    cursor: pointer;
}
.A_login_icon_google:hover{
    cursor: pointer;
}

/**footer**/
footer{
    width: 1260px;
    height: 320px;
    background-color: #130167;
}
.F_contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 0px 80px;
}
.F_text_a{
    color: #F1C832;
    font-size: 24px;
    font-weight: bold;
}
.F_text_b{
    color: #FFF3D6;
    font-size: 18px;
    margin: 0px;
}
.F_text_b:hover{
    cursor: pointer;
    color: #F1C832;
}
.F_text_c{
    opacity: 0.6;
    color: #C9C9C9;
    font-size: 18px;
}
.F_text_d{
    opacity: 0.6;
    color: #C9C9C9;
    font-size: 16px;
    margin: 0px;
}
.F_btn{   
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.F_btn_tw{
    margin: 0px 35px;
}

.F_btn_fb:hover{
    cursor: pointer;
}
.F_btn_tw:hover{
    cursor: pointer;
}
.F_btn_ig:hover{
    cursor: pointer;
}